@media screen and (max-width: 1200px) {
  #buttonContainer input {
    border-radius: 25px;
    margin: 10px auto 0 auto;
    width: 80%;
  }

  #city {
    border-radius: 25px;
    width: 100%;
  }

  #date {
    border-radius: 25px;
    width: 100%;
  }

  #dateContainer {
    display: block;
  }

  #description {
    width: 90%;
  }

  .descriptionContainer {
    margin: auto;
    width: 90%;
  }
  .dropdownContent {
    position: relative;
  }

  #email {
    border-radius: 25px;
    width: 100%;
  }

  #emailContainer {
    display: block;
  }

  #firstName {
    border-radius: 25px;
    width: 100%;
  }

  footer {
    display: none;
  }

  .formContainer {
    width: 50%;
  }

  #headingTitle {
    color: #000000;
  }

  #home {
    border-radius: 25px;
    display: block;
    width: 100%;
  }

  .input-container input:focus {
    padding: 16px 20px 10px;
  }

  .input-container.active label {
    transform: translate(25px, 0) scale(0.75);
  }

  #lastName {
    border-radius: 25px;
    width: 100%;
  }
  #locationContainer {
    display: block;
  }

  .logo {
    display: none;
  }

  #message {
    border-radius: 25px;
    width: 100%;
  }

  #pageLinks {
    width: 90%;
  }

  .textarea-container textarea:focus {
    padding: 16px 20px 10px;
  }

  .textarea-container.active label {
    transform: translate(25px, 0) scale(0.75);
  }

  #nameContainer {
    display: block;
  }

  .navbar {
    display: block;
  }

  #state {
    border-radius: 25px;
    width: 100%;
  }

  table {
    white-space: normal;
    width: 90%;
  }

  td {
    padding: 10px;
  }

  #text-data {
    color: yellow;
    font-size: medium;
    margin: 40px auto 0 auto;
    width: 90%;
  }

  #w1 {
    width: 100%;
  }

  #w2 {
    width: 100%;
  }

  #w3 {
    width: 100%;
  }

  #w4 {
    width: 100%;
  }

  #w5 {
    border-radius: 0 0 25px 25px;
    width: 100%;
  }
}
